In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/language.csv')
df.head()
#soup = BeautifulSoup(page.content, 'html.parser')

          Country                                          Languages
0     Afghanistan            \n        Afghan Persian or Dari (of...
1        Akrotiri            \n        English, Greek\n        \n...
2         Albania            \n        Albanian 98.8% (official -...
3         Algeria            \n        Arabic  (official), French...
4  American Samoa            \n        Samoan 88.6% (closely rela...

In [56]:
table.iloc[0, 1]

'          \n        Afghan Persian or Dari (official) 77% (Dari functions as the lingua franca), Pashto (official) 48%, Uzbek 11%, English 6%, Turkmen 3%, Urdu 3%, Pashayi 1%, Nuristani 1%, Arabic 1%, Balochi 1%\n        (2017 est.)\n\n\nnote: data represent most widely spoken languages; shares sum to more than 100% because there is much bilingualism in the country and because respondents were allowed to select more than one language\nnote: the Turkic languages Uzbek and Turkmen, as well as Balochi, Pashayi, Nuristani, and Pamiri are the third official languages in areas where the majority speaks them'

Find if country uses these language: 
+ English
+ Spanish
+ French
+ Portugese
+ Chinese 
+ Hindi

In [178]:
# Grab language to match 

# Create columns
df = table.copy()

df['English'] = False
df['Spanish'] = False
df['French'] = False
df['Portuguese'] = False
df['Chinese'] = False
df['Hindi'] = False
df['Arabic'] = False

In [179]:
df.sample(5)

,Country,Languages,English,Spanish,French,Portuguese,Chinese,Hindi,Arabic
212,Thailand,\n Thai (official) only 90.7%...,False,False,False,False,False,False,False
164,Palau,\n Palauan (official on most ...,False,False,False,False,False,False,False
26,Bosnia and Herzegovina,"\n Bosnian (official) 52.9%, ...",False,False,False,False,False,False,False
146,Morocco,"\n Arabic (official), Berber ...",False,False,False,False,False,False,False
88,Guam,"\n English 43.6%, Filipino 21...",False,False,False,False,False,False,False

In [181]:
df

,Country,Languages,English,Spanish,French,Portuguese,Chinese,Hindi,Arabic
0,Afghanistan,\n Afghan Persian or Dari (of...,True,False,False,False,False,False,False
1,Akrotiri,"\n English, Greek\n \n...",True,False,False,False,False,False,False
2,Albania,\n Albanian 98.8% (official -...,False,False,False,False,False,False,False
3,Algeria,"\n Arabic (official), French...",False,False,False,False,False,False,False
4,American Samoa,\n Samoan 88.6% (closely rela...,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
235,West Bank,"\n Arabic, Hebrew (spoken by...",False,False,False,False,False,False,False
236,Western Sahara,"\n Standard Arabic, Hassaniya...",False,False,False,False,False,False,False
238,Yemen,\n Arabic (official)\n ...,False,False,False,False,False,False,False
239,Zambia,"\n Bemba 33.4%, Nyanja 14.7%,...",False,False,False,False,False,False,False
240,Zimbabwe,\n Shona (official; most wid...,False,False,False,False,False,False,False

In [180]:
# Put languages in a list for the below "for" loop 
lange_names = list(df.iloc[:, 2:].columns)

# Boolean values for country which has the language name appears in the description
for col in lange_names:
    for row in range(len(df)):
        df[col][row] = (col in df.Languages[row])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

KeyError: 71

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [140]:
df

,Country,Languages,English,Spanish,French,Portuguese,Chinese,Hindi,Arabic
0,Afghanistan,\n Afghan Persian or Dari (of...,True,False,False,False,False,False,True
1,Akrotiri,"\n English, Greek\n \n...",True,False,False,False,False,False,False
2,Albania,\n Albanian 98.8% (official -...,False,False,False,False,False,False,False
3,Algeria,"\n Arabic (official), French...",False,False,True,False,False,False,True
4,American Samoa,\n Samoan 88.6% (closely rela...,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
236,Western Sahara,"\n Standard Arabic, Hassaniya...",False,True,True,False,False,False,True
237,World,"most-spoken language:Â English 16.5%, Mandarin...",True,True,True,True,True,True,True
238,Yemen,\n Arabic (official)\n ...,False,False,False,False,False,False,True
239,Zambia,"\n Bemba 33.4%, Nyanja 14.7%,...",True,False,False,False,False,False,False
240,Zimbabwe,\n Shona (official; most wid...,True,False,False,False,False,False,False

In [141]:
df.describe()

,Country,Languages,English,Spanish,French,Portuguese,Chinese,Hindi,Arabic
count,241,241,241,241,241,241,241,241,241
unique,241,232,2,2,2,2,2,2,2
top,Cote d'Ivoire,\n Spanish (official)\n ...,True,False,False,False,False,False,False
freq,1,4,141,203,173,218,223,234,202

In [146]:
lange_names

['English', 'Spanish', 'French', 'Portuguese', 'Chinese', 'Hindi', 'Arabic']

In [153]:
df = df.drop('Languages', axis = 1)

In [159]:
df = df.melt(id_vars = 'Country', var_name = 'Language')

In [166]:
df.groupby('Language').sum().sort_values('value', ascending = False)

            value
Language
English     141.0
French       68.0
Arabic       39.0
Spanish      38.0
Portuguese   23.0
Chinese      18.0
Hindi         7.0

In [158]:
df

,Country,English,Spanish,French,Portuguese,Chinese,Hindi,Arabic
0,Afghanistan,True,False,False,False,False,False,True
1,Akrotiri,True,False,False,False,False,False,False
2,Albania,False,False,False,False,False,False,False
3,Algeria,False,False,True,False,False,False,True
4,American Samoa,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
236,Western Sahara,False,True,True,False,False,False,True
237,World,True,True,True,True,True,True,True
238,Yemen,False,False,False,False,False,False,True
239,Zambia,True,False,False,False,False,False,False
240,Zimbabwe,True,False,False,False,False,False,False